:root {
    --main-accent: #0ec261;
    --main-black: #121212;
    --black: #151b1f;
    --main-grey: #999999;
    --main-light: #eee;
    --blue: #007bff;
    --red: #c4183c;
    --green: #17c671;
    --dark: #3d5170;
    --black-light: #495057;
    --white-dark: #becad6;
}