.footer {
  display: flex;
  justify-content: space-between;

  &__copy {
    padding-left: 64px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--main-grey);
  }

  &__tel {
    padding-right: 64px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--main-black);
  }
}
