.radio-btn input {
  display: none;
}

.radio-btn {
  position: relative;
  padding-left: 22px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--main-grey);
    border-radius: 50%;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 12px;
    height: 12px;
    display: none;
    border: 3px solid #0EC261;
    border-radius: 50%;
  }

  & input:checked > &::before {
    display: none;
  }
}
