@font-face {
    font-family: "HelveticaNowText-Bold";
    src: url('@/shared/assets/fonts/HelveticaNowText-Bold.woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "HelveticaNowText-Regular";
    src: url('@/shared/assets/fonts/HelveticaNowText-Regular.woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url('@/shared/assets/fonts/Poppins-SemiBold.woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url('@/shared/assets/fonts/Roboto-Bold.woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Roboto-Light";
    src: url('@/shared/assets/fonts/Roboto-Light.woff');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('@/shared/assets/fonts/Roboto-Medium.woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url('@/shared/assets/fonts/Roboto-Regular.woff');
    font-style: normal;
    font-weight: 400;
}




